.yy{
	width: 30%;
	margin: 0 auto;
	text-align: center;
	border-radius: 7px;
	padding: 10px;
}
h1{
	text-align: center;
	color: white;
}
body{
	background-color: grey;
	color: white;
}
.ime{
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	background-color: grey;
	color: white;
	margin-bottom: 7px;
	border-color: white;

}
p{
	text-align: center;
}
input[type="number"]::placeholder { color: #fff; }
#im{
	background-color: green;
	width: 48%;
	border:none;}
input:hover {border: 2px solid green}